In [1]:
#import libraries
import pandas as pd

In [2]:
zip_file ="zipcodes.csv"
zip_df = pd.read_csv(zip_file,delimiter=",")
zip_df['zip'] = zip_df['zip'].astype(str)
zip_df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,29001,STANDARD,0,Alcolu,NaN,NaN,SC,Clarendon County,America/New_York,803,NaN,US,33.76,-80.15,1810
1,29003,STANDARD,0,Bamberg,NaN,Midway,SC,Bamberg County,America/New_York,803,NaN,US,33.29,-81.03,4900
2,29006,STANDARD,0,Batesburg,"Batesburg-leesville, Batsbrg-levil","Holtson Crossroads, Kneece, New Holland Crossr...",SC,Lexington County,America/New_York,803,NaN,US,33.90,-81.54,8070
3,29009,STANDARD,0,Bethune,NaN,NaN,SC,Kershaw County,America/New_York,843,NaN,US,34.41,-80.34,1880
4,29010,STANDARD,0,Bishopville,Wisacky,"Alcot, Ashland, Lucknow, Manville, Mccutchen C...",SC,Lee County,America/New_York,803,NaN,US,34.21,-80.24,8910

In [3]:
def select_the_required_columns(input_df):
    organized_df = input_df[['locname','TYPE','citystzi','SC17_Eng4EXp','SC17_Eng3REp','SC17_Eng2CLp','SC17_Eng1NSp',
              'SC17_Mat4EXp','SC17_Mat3REp','SC17_Mat2CLp','SC17_Mat1NSp',
               'P17_Sci7EXC','P17_Sci5EXE','P17_Sci3Met','P17_Sci1NM'
                ]]
    
    organized_df['citystzi'] = organized_df['citystzi'].astype(str).str[-5:]
    return organized_df


######################################################################################################################

def calculate_values(input_df):
    
    input_df["English pass"] = input_df["SC17_Eng4EXp"] + input_df["SC17_Eng3REp"] + input_df["SC17_Eng2CLp"]
    input_df["Math pass"] = input_df["SC17_Mat4EXp"] + input_df["SC17_Mat3REp"] + input_df["SC17_Mat2CLp"]
    input_df["Science pass"] = input_df["P17_Sci7EXC"] + input_df["P17_Sci5EXE"] + input_df["P17_Sci3Met"]
    input_df["Overall pass"] = round((input_df["English pass"] + input_df["Math pass"] + input_df["Science pass"]) / 3,2)
    
    output_df = input_df[['locname','TYPE','citystzi','English pass','SC17_Eng1NSp','Math pass',
                      'SC17_Mat1NSp',"Science pass","P17_Sci1NM","Overall pass"]]
    
    output_df = output_df.rename(columns = {'citystzi':'zip','SC17_Eng1NSp':'English fail','TYPE':'Type',
                                          'SC17_Mat1NSp':'Math fail','locname':'School','P17_Sci1NM':'Science fail'})
    
    output_df["rating"] = round(output_df["Overall pass"] / 10,0)
    return output_df

######################################################################################################################

def calculate_rating_for_available_zip(input_df):
    output_rating_available_zip = pd.merge(zip_df,input_df,on="zip",how="left")
#     output_rating_available_zip = output_rating_available_zip[["primary_city","zip","School","Type","English pass","Math pass",
#                                                                "Science pass","Overall pass","rating"]]
    output_rating_available_zip = output_rating_available_zip[["primary_city","zip","School","Type","rating"]]
    return output_rating_available_zip

## Elementary School Processing

In [4]:
elementary_file = "RC_2017_Elementary.csv"
input_df = pd.read_csv(elementary_file,delimiter=",")

elementary_df = select_the_required_columns(input_df)
elementary_final = calculate_values(elementary_df)
elementary_rating_for_available_zip = calculate_rating_for_available_zip(elementary_final)
elementary_rating_for_available_zip.head()

C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  primary_city    zip                             School Type  rating
0       Alcolu  29001                                NaN  NaN     NaN
1      Bamberg  29003  Richard Carroll Elementary School    E     7.0
2    Batesburg  29006                                NaN  NaN     NaN
3      Bethune  29009          Bethune Elementary School    E     6.0
4      Bethune  29009          Bethune Elementary School    E     9.0

## Middle School Processing

In [5]:
middle_file = "RC_2017_Middle.csv"
input_df = pd.read_csv(middle_file,delimiter=",")

middle_df = select_the_required_columns(input_df)
middle_final = calculate_values(middle_df)
middle_rating_for_available_zip = calculate_rating_for_available_zip(middle_final)
middle_rating_for_available_zip.head()

C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kisho\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  primary_city    zip                             School Type  rating
0       Alcolu  29001                                NaN  NaN     NaN
1      Bamberg  29003     Bamberg-Ehrhardt Middle School    M     7.0
2    Batesburg  29006  Batesburg-Leesville Middle School    M     7.0
3      Bethune  29009                                NaN  NaN     NaN
4  Bishopville  29010          Lee Central Middle School    M     4.0

## High School Processing